  <% if flash[:notice] %>
    <%= flash[:notice] %>
  <% end %>

  <% if @user %>
    <h1>  <%= @user.name %> posts </h1>
  <% else %>
    <h1> All User Posts </h1>  
  <% end %>

<ul>
<% @posts.each do |post| %>
    <li><%= link_to post.name, post_path(post)%> 
  <br>
    <%= post.content %>
  </li><br>
<% end %>
</ul>

<br>

<% if @user %>
  <%= link_to "Back", user_path(@user) %>
<% end %>